<!DOCTYPE html>
<html>
<head>
  <title>chess</title>
  <link rel="stylesheet" href="chess.css">
</head>
<body>
<div >
  <h2  align="center"> sikorsky vs <%= @enemy %> </h2>
  <div>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'white_pawn.png' %>>
  </div>

  <div>
    <img class="black-cage", <%= image_tag 'white_elephant.png' %>>
    <img class="white-cage", <%= image_tag 'white_rook.png' %> >
    <img class="black-cage", <%= image_tag 'white_horse.png' %> >
    <img class="white-cage", <%= image_tag 'white_queen.png' %> >
    <img class="black-cage", <%= image_tag 'white_king.png' %> >
    <img class="white-cage", <%= image_tag 'white_horse.png' %> >
    <img class="black-cage", <%= image_tag 'white_rook.png' %> >
    <img class="black-cage", <%= image_tag 'white_elephant.png' %> >
  </div>

  <div>
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
  </div>

  <div>
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
  </div>

  <div>
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
  </div>

  <div>
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
    <img class="black-cage">
    <img class="white-cage">
  </div>

  <div>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
    <img class="white-cage" <%= image_tag 'black_pawn.png' %>>
  </div>

  <div>
    <img class="black-cage", <%= image_tag 'black_elephant.png' %>>
    <img class="white-cage", <%= image_tag 'black_rook.png' %> >
    <img class="black-cage", <%= image_tag 'black_horse.png' %> >
    <img class="white-cage", <%= image_tag 'black_queen.png' %> >
    <img class="black-cage", <%= image_tag 'black_king.png' %> >
    <img class="white-cage", <%= image_tag 'black_horse.png' %> >
    <img class="black-cage", <%= image_tag 'black_rook.png' %> >
    <img class="black-cage", <%= image_tag 'black_elephant.png' %> >
  </div>
  <h2>Лист ожидания соперников: <%= @champions %> </h2>
  </div>

</body>
</html>
