<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class='menu'><p>
      <li><a href="/game"><img src="assets/game.png" width="50" height="50"></a></li>
      <li><a href="/champions"><img src="assets/champions.png" width="50" height="50"></a></li>
      <li><a href="/"><img src="assets/rules.png" width="50" height="50"></a></li>
      <li><a href="/new_player"><img src="assets/plus.png" width="50" height="50"></a></li>
      </p>


    </ul>
    <%= yield %>
  </body>
</html>
